html, body {
  height: 100%;
  width: 100%;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT72M7N0nyaZcbQBrDR4X7E1NChe5mMq3wbJnKVSHZrGdYtw8hd)yellow  ;
  font-family:sans-serif; 
  background-repeat: no-repeat; 
  background-position: center;  

}
